<h1 class="my-5">
    Créer un Driver
  </h1>
  <div class="col-6 border shadow my-5 p-5">
    <form (ngSubmit)="onSubmit()" [formGroup]="driverForm">
  
      <div class="form-group">
        <label for="name">Nom complet du pilote</label>
        <input type="text" class="form-control" formControlName="fullName" id="name"  >
      </div>
  
      <div class="form-group">
        <label for="pays">Pays d'origine</label>
        <input type="text" class="form-control" formControlName="pays" id="pays"  >
      </div>
  
      <div class="form-group">
        <label for="coverImage">Avatar (url)</label>
        <input type="text" class="form-control" formControlName="coverImage"  id="coverImage" >
      </div>
  
      <div class="form-group">
        <label for="category">Discipline</label>
        <input type="text" class="form-control" formControlName="category" id="power" >
      </div>
  
      <button type="submit"  class="btn btn-success my-5" [disabled]="driverForm.invalid">Enregister</button>
    </form>
  </div>